lengauje_de_marcas/actividadesU3/practica2.1c.dtd

<!ELEMENT reparaciones (reparacion*)>
<!ELEMENT reparacion (vehiculo, trabajoRealizado, factura)>
<!ELEMENT vehiculo (matricula, marca, modelo)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT trabajoRealizado (desc, duracion)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT duracion (#PCDATA)>
<!ELEMENT factura (cod, totalAPagar, modoPago)>
<!ELEMENT cod (#PCDATA)>
<!ELEMENT totalAPagar (#PCDATA)>
<!ELEMENT modoPago (#PCDATA)>